* {
    box-sizing: border-box;
    font-family: monospace;
}

.button {
    border: 1px solid #717171;
    background: #f5f5f5;
    border-radius: 2px;
    margin: 0;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #c1c1c1;
    text-shadow: 1px 1px 1px #a5a5a5;
    font-family: monospace;
    font-weight: bold;
}
.button:hover {
    background: #e6e6e6;
    cursor: pointer;
}

input[type="text"] {
    border: 1px solid #8c8c8c;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #c1c1c1;
    font-family: monospace;
    font-size: 14px;
}
/* NOTE: We depend on nwjs for this to work. If you want to use this style on any other browser other than Chrome, your mileage may vary. */
input[type="file"]::-webkit-file-upload-button {
    border: 1px solid #717171;
    background: #f5f5f5;
    border-radius: 2px;
    margin: 0;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #c1c1c1;
    text-shadow: 1px 1px 1px #a5a5a5;
    font-family: monospace;
    font-weight: bold;
}
input[type="file"]::-webkit-file-upload-button:hover { cursor: pointer; }

.window.floating {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.window {
    margin: 10px;
}
.window .inner {
    width: 100%;
    height: 100%;
    background: white;
    padding: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #dedede;
}
.window .inner .title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#alert_overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
}
#window_alert {
    display: none;
    left: 0;
    top: 0;
    z-index: 1001;
    margin: 20px;
}
#window_alert_title {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#window_alert_content {
    font-size: 16px;
    margin-bottom: 20px;
}

.window .inner .form {}
.window .inner .input {
    display: block;
    margin-bottom: 20px;
}

.inline-block {
    display: inline-block;
}

#home .button {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    line-height: 140px;
    font-size: 20px;
}

#tile_builder canvas { position: absolute; }
#tile_builder #canvas_tileset { z-index: 0; }
#tile_builder #canvas_tmp { z-index: 1; }
#tile_builder #selected_image {
    border: 2px solid purple;
    vertical-align: middle;
}

#map_builder #new_layer { margin-bottom: 20px; }
#map_builder #list_layers {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}
#map_builder #list_layers .button { margin-left: 10px; }
#map_builder #list_layers .button#d_active_layer {
    color: red;
    border: 1px solid red;
}
#map_builder #canvas_layers canvas {
    position: absolute;
    opacity: 0.2;
}
#map_builder #canvas_layers canvas#c_active_layer { opacity: 1; }

#character_builder #character_image_container { display: none; }
#character_builder #character_image_container img { border: 2px solid pink; }
#character_builder #character_features {
    overflow-y: scroll;
    height: 320px;
}
#character_builder #character_features img {
    border: 2px solid black;
    margin: 5px;
}
#character_builder #character_features img:hover { cursor: pointer; }
#character_builder #cf_yw { display: none; }
#character_builder .cf-row {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}